body {
    font: 12px/14px Lucida Grande, Segoe UI;
    color: #333;
    margin: 0;
    line-height: 20px;
}

html, body, div, a, img, ol, ul, li, table, tbody, tfoot, thead, tr, th, td, footer, header, p {
    border: 0;
    margin: 0;
    padding: 0;

}

#nav-tab {

    /*line-height: 20px;*/
}

#nav-tab li {
    float: left;
    height: 38px;
    margin: 0 0 15px;
    width: 33.33%;
    list-style: outside none none;
}

#nav-tab li a {
    background-color: #FBFBFB;
    color: #424F5A;
    padding: 10px 0;
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #C1C1C1;

    cursor: pointer;
    text-decoration: none;
    /*transition: background-color 50ms ease 0s;*/
    /*background: transparent none repeat scroll 0 0;*/
}

#nav-tab li.active a {

    box-shadow: 0 3px 0 0 #0095DD inset;
}

.tab-pane {
    display: none;
    /*position: relative;*/

}

.tab-pane.active {
    display: block;
}


#shop-list {
    width: 99%;
}

#shop-list tbody .item-image {
    width: 30%;
    padding: 4px;
    text-align: center;
}

#shop-list tbody .item-image img {
    height: 50px;
    width: 50px;
}

#shop-list a {
    border-bottom: 1px dotted #6380bc;
    color: #6380bc;
    cursor: pointer;
    text-decoration: none;
}

#shop-list a:hover {
    border-bottom-style: solid;
}

#tab-content {
    padding: 6px 20px;
    height: 204px;
    overflow: hidden;
    position: relative;
}

/*#tab-content:after {*/

/*bottom:-20px;*/
/*content: "More";*/
/*font-weight: bold;*/
/*padding: 0 20px 1px 45px;*/
/*position: absolute;*/
/*right: 0;*/

/*}*/

a.more {
    font-weight: bold;
    text-decoration: none;
    color: #B3B3B3;;
    position: relative;
    right: 8px;
    padding: 3px;
    cursor: pointer;
}

a.more:hover {
    border-bottom: 1px dotted #B3B3B3;
}

.action {
    text-align: right;
}

.arrow {
    position: absolute;
    top: 3px;
    margin-left: 2px;

}

.content {
    height: 185px;
    overflow: hidden;
}

.loading-data, .no-data{
    display: none;
}

/*loading*/
.tab-pane .main-content {
    display: block;
}

.tab-pane.loading .loading-data{
    display: block;
}

.tab-pane.loading .main-content, .tab-pane.loading .no-data{
    display: none;
}

.tab-pane.no-result .no-data{
    display:block;
}

.tab-pane.no-result .main-content, .tab-pane.no-result .loading-data{
    display: none;
}
.loading-data img{
    height: 100px;
    width:100px
}
.loading-data {
    text-align: center;
   padding: 52px 0;
}

.suggestion-link{
    text-decoration: none;
    color: #0095DD;
    cursor: pointer;
}
